# PostgreSQL
POSTGRES_USER=dif
POSTGRES_PASSWORD=your_postgres_password_here
AIRFLOW_DB=airflow

# Airflow
AIRFLOW_UID=50000

# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=your_fernet_key_here

# Generate with: python -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW_SECRET_KEY=your_secret_key_here

AIRFLOW_WWW_USER=admin
AIRFLOW_WWW_PASSWORD=admin
AIRFLOW_WWW_EMAIL=your@email.com
